[Desktop Entry]
Version=1.0
Type=Application
Name=Restore Files
Comment=Restore Rose Engine Butler configuration files
Exec=sudo bash Restore.sh
Icon=/home/cnc/linuxcnc/configs/RoseEngineButler_Images/RoseEngineButler_Restore.gif
Path=/home/cnc/linuxcnc/configs/RoseEngineButler
Terminal=true
StartupNotify=true
